.main {
	> ruffle-player {
		position: absolute;
		display: none;
		max-width: 100vw;
		max-height: 100vh;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}

	&[data-loaded='1'] {
		> ruffle-player {
			display: block;
		}
	}
}
