@import './common.scss';

.omnibox {
	$border: 1px;
	$height: 44px;
	width: 584px;
	height: $height;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 10px auto;

	.search,
	.open {
		user-select: none;
		width: 20px;
		height: 20px;
		padding: 12px;
		color: var(--text-placeholder);
		display: block;
		text-align: center;
		pointer-events: none;
	}

	.open {
		display: none;
	}

	> .ThemeInputBar {
		width: 100%;
	}

	@include screenMobile {
		width: 100%;

		&[data-focused='1'] {
			margin: 0;
			position: absolute;
			z-index: 100;
			top: 0px;
			left: 0px;
			padding: 10px;
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			background: rgba(0, 0, 0, 0.5);
		}

		.open {
			display: block;
			top: 0px;
			right: 0px;
		}
	}

	> .suggested {
		box-sizing: border-box;
		display: none;
		margin-top: $height;
		width: 100%;

		@include screenMobile {
			width: calc(100% - 20px); // - padding - border
		}

		position: absolute;
		flex-direction: column;
		background-color: var(--background-accent);
		overflow: hidden;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid var(--border);
		border-top: none;

		> .option {
			cursor: pointer;
			color: var(--text);
			height: $height;
			position: relative;
			display: flex;
			flex-direction: row;

			&.hover {
				background-color: var(--background);
			}

			> .text {
				padding: 0px 15px 0px 0px;
				width: 100%;
				line-height: $height;
				user-select: none;
			}

			> .search {
				color: var(--text);
			}
		}
	}

	&[data-suggested='1'] {
		> .suggested {
			display: flex;
		}

		> .ThemeInputBar {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}
}
