@import './common.scss';

@include newShimmerCard();

.main {
	display: flex;
	flex-direction: column;

	> .pages {
		width: 100%;
		display: flex;
		justify-content: center;

		&.useless {
			display: none;
		}

		> .button {
			display: flex;
			width: 40px;
			height: 40px;
			box-sizing: border-box;
			padding: 8px;
			border: 2px solid var(--background-accent-disabled);
			border-radius: 8px;
			margin: 2px;
			background-color: var(--background-accent);
			cursor: pointer;

			&:hover {
				background-color: var(--background-accent-deep-2);
			}

			&.disabled {
				background-color: var(--background-accent-disabled);
				cursor: not-allowed;
			}
		}
	}

	.sort {
		display: block;
		margin-left: auto;
		flex: none;
	}

	> section {
		> .name {
			display: flex;
			width: 100%;
			line-height: 65px;
			align-items: center;
			flex-wrap: wrap;

			h1 {
				font-size: 22px;
				margin: 0;
				margin-right: auto;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.seeAll {
				flex: none;
				display: flex;
				align-items: center;
				font-size: 16px;
				color: inherit;

				> svg {
					margin-left: 5px;
					font-size: inherit;
				}
			}
		}

		> .items {
			margin-top: 10px;
			padding: 10px;
			width: 100%;
			border-radius: 10px;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			gap: 12px;

			.item {
				cursor: pointer;
				color: var(--text);
				display: flex;
				flex-direction: column;
				width: 100%;
				position: relative;
				padding-bottom: 40px;

				&:hover {
					> .thumbnail::before {
						opacity: 1;
					}
				}

				> .thumbnail {
					position: relative;
					border-radius: 8px;
					background-color: var(--background-accent);
					animation: shimmerCard 1.7s linear 0s infinite normal forwards;
					background-image: linear-gradient(
						90deg,
						hsla(0, 0%, 100%, 0),
						hsla(0, 0%, 100%, 0.3) 50%,
						hsla(0, 0%, 100%, 0)
					);
					background-repeat: no-repeat;
					background-size: 100% 100%;
					height: 0px;
					padding-bottom: 100%;

					&::before {
						content: '';
						border-radius: 8px;
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						background: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
						transition: opacity 0.2s linear;
						opacity: 0;
						z-index: 1;
						pointer-events: none;
					}

					> img {
						position: absolute;
						top: 0;
						border-radius: 8px;
						width: 100%;
						height: 100%;
						opacity: 0;
						transition: opacity 0.5s;
					}

					&[data-loaded='1'] {
						background-image: none;
						animation: unset;

						img {
							opacity: 1;
						}
					}
				}

				> .name {
					position: absolute;
					width: 100%;
					padding: 0;
					margin-top: 100%;
					font-size: 14px;
					$padding-lr: 10px;
					padding: 0px $padding-lr;
					line-height: 40px;
					text-align: center;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					box-sizing: border-box;
				}

				&.loading {
					cursor: revert;

					> .name {
						animation: shimmerCard 1.7s linear 0s infinite normal forwards;
						background-image: linear-gradient(
							90deg,
							hsla(0, 0%, 100%, 0),
							hsla(0, 0%, 100%, 0.3) 50%,
							hsla(0, 0%, 100%, 0)
						);

						background-color: var(--background-accent);
						background-repeat: no-repeat;
						background-size: 100% 100%;
						margin-top: calc(100% + 10px);
						margin-bottom: 10px;
						height: 20px;
					}

					&:hover {
						> .thumbnail::before {
							opacity: 0;
						}
					}
				}
			}

			&.flex {
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;

				.item {
					padding-bottom: 0px;
					width: unset;

					> .thumbnail {
						width: 200px;
						height: 200px;
						padding-bottom: 0;

						> img {
							position: relative;
						}
					}

					> .name {
						position: relative;
						margin: 10px 0px;
					}
				}
			}
		}

		&.expand {
			position: relative;

			> .items {
				position: relative;
				height: 240px;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
				flex-wrap: wrap;
				overflow-y: hidden;
			}
		}
	}
}
