@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: url('../../assets/Lato100.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('../../assets/Lato400Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../../assets/Lato400.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../../assets/Lato700.woff2') format('woff2');
}
