@font-face {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 400;
	src: local('Arial'), local('sans-serif'),
		url('../../assets/MontserratAlternates.woff2') format('woff2');
}
